<!DOCTYPE html>
@using Microsoft.AspNet.Identity;
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Page</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Materialize/css/mateiralize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/Materialize/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="@Url.Action("Index", "Home")" class="brand-logo">TestCSVProject</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="@Url.Action("Index", "User")">User Home Page</a></li>
                <li><a href="@Url.Action("ManageData", "User")">Manage Data</a></li>
            </ul>
        </div>
    </nav>


    <div>
        @if (TempData["message"] != null)
        {
            <div class="Message">@TempData["message"]</div>
        }
        @RenderBody()
        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="~/Materialize/js/materialize.js"></script>
        <script src="~/Materialize/js/init.js"></script>
        <script src="~/Materialize/js/dropdown.js"></script>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Author</h5>
                    <p class="grey-text text-lighten-4">Made by Havryliak Dmytro</p>

                </div>
               
            </div>
        </div>
    </footer>

</body>
</html>